<!doctype html>
<html lang="en">
    <head>    
        
        <title>{{ if .Title }}{{ $.Title }} - {{ end }}{{ .Site.Title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="{{ .Params.excerpt | default .Site.Params.description }}"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="{{ (resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "assets/css/main.css" . | resources.ToCSS (dict "indentWidth" 4 "outputStyle" "nested" "precision" 10)).Permalink }}">
        {{ if eq .Params.layout "post" }} 
        {{ if $.Params.canonical_url }}
        <link rel="canonical" href="{{ $.Params.canonical_url }}"/>
        {{ end }}
        {{ end }}

        
        
    </head>
    <body>
        
        <div id="page" class="site style-{{ .Site.Params.layout_style }} palette-{{ .Site.Params.palette }}">
          {{ partial "header.html" . }}
          <div id="content" class="site-content">
            <div class="inner">
              <main id="main" class="site-main">
                <!-- <div id="typewriter"></div> -->
                {{ block "content" . }}{{ end }}
                
              </main><!-- .site-main -->
              {{ partial "footer.html" . }}
            </div><!-- .inner -->
          </div><!-- .site-content -->
        </div><!-- .site -->
        <!-- Scripts -->
        <script src="{{ "assets/js/plugins.js" | relURL }}"></script>
        <script src="{{ "assets/js/main.js" | relURL }}"></script>

        <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-analytics.js"></script>

<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyAiiGgDdxbscs0phBQXOEMM-91CNqOvra0",
    authDomain: "kevork-keheian.firebaseapp.com",
    databaseURL: "https://kevork-keheian.firebaseio.com",
    projectId: "kevork-keheian",
    storageBucket: "kevork-keheian.appspot.com",
    messagingSenderId: "26742380149",
    appId: "1:26742380149:web:96330f41a8aa130ac6ca3c",
    measurementId: "G-YGWG0M8FQ7"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();


  //Typewirter.js
  const instance = new Typewriter('#typewriter', {
    loop: true
});

instance
    .deleteAll()
    .typeString("Hello World! 👋")
    .pauseFor(500)
    .deleteAll()
    .typeString("I'm Kevork Keheian")
    .pauseFor(500)
    .deleteChars(14)
    .typeString('a Data Analyst')
    .pauseFor(500)
    .deleteChars(12)
    .typeString('Full Stack web developer')
    .pauseFor(500)
    .deleteAll()
    .start();
</script>
    </body> 
</html>
